<!DOCTYPE html>
<html>
<head>
  <title>Chat made with socket io ❤️</title>
  <link href="app.css" rel="stylesheet">
</head>
<body>

  <div id="login-container">
    <form id="login-form" class="login-form">
      <input type="text" id="username" class="input-login" placeholder="Enter your name">
      <button type="submit" class="button-login">Enter Chat</button>
    </form>
  </div>
  
  <div id="chat-container" class="hidden">
    <div id="header" class="header">
      <h1 class="title">Chat made with socket io ❤️</h1>
      <div id="logged-in-username"></div>
    </div>
    <ul id="messages" class="message-list"></ul>
    <form id="form" class="chat-form">
      <input type="text" id="input" class="input" placeholder="Type a message">
      <button type="submit" class="button">Send</button>
    </form>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="script.js"></script>
</body>
</html>
